@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color:rgb(244, 252, 99);
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 40px;
}

p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
}

span{
    color: rgb(255, 0, 0);
    font-style:oblique;
    font-weight:bold;
}